@model NAVY4U.Models.CartShop
@using NAVY4U.Models;
@{
    ViewBag.Title = "Giỏ Hàng";
    ViewBag.active = 2;
    CartShop cart = Session["GioHang"] as CartShop;
}
<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category">
    <div class="container h-100">
        <div class="blog-banner">
            <div>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "products")">Sản phẩm</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Giỏ Hàng</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->
<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Sản phẩm</th>
                            <th class="text-center" scope="col">Giá tiền</th>
                            <th class="text-center" scope="col">Số lượng</th>
                            <th class="text-center" scope="col">Tổng</th>
                        </tr>
                    </thead>
                    <tbody>
                       @foreach (var x in cart.productsCart.Values)
                        {
                            <tr>
                                <td>
                                    <div class="dflex">
                                        <div style="margin-right: 10px">
                                            <img width="100" src="@Common.getImageSanPhamById(x.maSP)" alt="">
                                        </div>
                                        <div>
                                            <p>@Common.getNameSanPhamById(x.maSP)</p>
                                            <p>Mã sản phẩm: @x.maSP</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="cart_quantity text-center">
                                    <div class="cart_quantity_button">
                                        <h5>@String.Format("{0:0,000} VNĐ", (x.giaBan - x.giaBan * x.giamGia / 100))</h5>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div style="display:flex;justify-content:center;margin: 10px 0;">
                                        @using (Html.BeginForm("Decrease", "Cart", FormMethod.Post))
                                        {
                                            <input type="hidden" name="masp" value="@x.maSP">
                                            <button name="masp" value="@x.maSP">
                                                <i class="fa-solid fa-subtract"></i>
                                            </button>
                                        }
                                        <div style="width:28px">@x.soLuong</div>
                                        @using (Html.BeginForm("Increase", "Cart", FormMethod.Post))
                                        {
                                            <input type="hidden" name="masp" value="@x.maSP">
                                            <button name="masp" value="@x.maSP">
                                                <i class="fa-solid fa-add"></i>
                                            </button>
                                        }
                                        

                                    </div>
                                </td>
                                <td class="text-center">
                                    <h5>@String.Format("{0:0,000} VNĐ", @cart.moneyOfProduct(x))</h5>
                                </td>
                                <td>
                                   @using (Html.BeginForm("RemoveTtem", "Cart", FormMethod.Post))
                                    {
                                        <input type="hidden" name="masp" value="@x.maSP">
                                        <button class="cart_quantity-down"><i class="fa-solid fa-remove"></i></button>
                                    }
                                </td>
                            </tr>
                        }
                        <tr>
                        @{ 
                            if (cart.totalOfCartShop() != 0)
                            {
                                <td>
                                    <h5>Phí giao hàng:
                                        <span style="color:#5cb85c">Miễn Phí</span>
                                    </h5>
                                    <h5>Tổng: @String.Format("{0:0,000} VNĐ", (cart.totalOfCartShop()))</h5>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <h4>Không có sản phẩm nào</h4>
                                </td>
                            }
                        }
                        </tr>
                        <tr class="out_button_area">
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center">
                                    <a class="btn btn-primary add-to-cart" href="@Url.Action("Index","products")">Tiếp tục mua</a>
                                    <a class="btn btn-success ml-2" href="@Url.Action("Index","Checkout")">Thanh toán</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--================End Cart Area =================-->
